@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

hr {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius:0.5rem;
    height: 0.3rem;
    background:white;
}

.left-align {
    margin-left:0;
    margin-right:auto;
}

.right-align {
    margin-left:auto;
    margin-right:0;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

/* Colors:
Dark Umber PC 947: #353535
Cobalt Turquoise PC 105: #3C6E71
White PC 938: #FFFFFF
French Grey 30% PC 1070: #D9D9D9
Cool Grey 90% PC 1067 (Navy): #284B63
*/
.dark {
    color: #353535;
}

.turquoise {
    color: #34D399;
}

.white {
    color: #FFFFFF;
}

.light-gray {
    color: #D9D9D9;
}

.navy {
    color: #284B63;
}