.nav-table {
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    transition: 0.25s;
    transform-origin: top;
    min-width: 100vw;
}

.nav-table-hidden {
    transform: scaleY(0);
    position: absolute;
    top: 6rem;
    left:auto;
}

.nav-table-shown {
    transform: scaleY(1);
}

.nav-row {
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.35s;
    transform-origin: right;
}

.nav-row-hidden {
    transform: scaleX(0);
}

.nav-row-shown {
    transform: scaleX(1);
}