.title-init {
    animation: title-init-anim 1.3s ease-in;
}

@keyframes title-init-anim {
    from {transform: rotateX(90deg)}
    to { transform: rotateX(0) };
}

.hover {
    animation: hover-anim 1.5s ease-in-out infinite;
}

@keyframes hover-anim {
    50% { transform: translateY(-5px)};
    100%{ transform: translateY(5px)};

}

.article-init {
    animation: article-init-anim 1s ease-in;
}

@keyframes article-init-anim {
    from { transform: scale(0.85, 0.85) }
    to { transform: scale(1, 1) }
}

