body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-weight: bold;
    margin: 0;
}

small {
    font-size: 16px;
}

article {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    article {
        width: 80vw;
    }
}

@media only screen and (min-width: 601px) {
    article {
        width: 50vw
    }
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.material-icons.md-48 {
    font-size: 48px;
}

.scroll-section {
    min-height: 100vh;
    height: auto;
    display: grid;
    place-items: center;
    margin-bottom: 200px;
}

.scroll-button {
    background-color:rgba(0, 0, 0, 0);
    margin: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50%;
    transition: 0.5s;
}

.scroll-button:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1, 1.1)
}

.lerp-wrap {
    display: inline-block;
    vertical-align: middle;
}

.lerp-wrap span {
    display: inline-block;
}